<h1>Student Menu</h1>

<div style="margin-top: 30px;"> 
    <a class="menu-item" asp-area="" asp-controller="ChangeCourse" asp-action="Create">Change Course Request</a>   
    
    <!-- Additional menu items can be added here in the future -->
</div>



