<div class="text-center">

    <h1 class="display-4">Welcome</h1>
    <div style="margin-top: 30px;">
        @* <a href="/Home/StudentMenu" class="custom-btn">Student</a> *@
        @* <a href="/Home/AdminMenu" class="custom-btn">Administrator</a> *@

        <a class="custom-btn" asp-controller="Home" asp-action="Forms">Student</a>
        <a class="custom-btn" asp-controller="ChangeCourse" asp-action="Index">Administrator</a>
    </div>
    
</div>

@* <style>
    .custom-btn {
        display: inline-block;
        margin: 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        font-weight: bold;
        transition: background-color 0.3s;
    }

        .custom-btn:hover {
            background-color: #0056b3;
        }
</style> *@

