html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Bryan: Added all the lines below */
.bg-lightgray {
    background-color: #f8f9fa; /* Light gray background color */
}

.custom-btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

    .custom-btn:hover {
        background-color: #0056b3;
    }

.menu-item {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    border: none;
    background-color: #e9ecef;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

    .menu-item:hover {
        background-color: #ced4da;
    }
